

.background-nothing {
    min-height: 100vh;
    background-image: url("https://img.besthqwallpapers.com/Uploads/21-5-2020/134074/black-stone-background-4k-stone-textures-grunge-backgrounds-stone-wall.jpg");
    background-size: cover;
}

.background-auth {
    //min-height: 100vh;
    background-image: url("https://image.winudf.com/v2/image/Y29tLmRhcmtzb3Vsc3dhbGxwYXBlci5oZC5kYXJrc291bHNwaWN0dXJlcy5waG90b3MuYmFja2dyb3VuZC5jdXRlLmNvb2wuYXJ0LmRhcmtzb3Vsc2ltYWdlcy5oZC5mcmVlX3NjcmVlbl84XzE1MzIzNzE3MjRfMDYx/screen-8.jpg?fakeurl=1&type=.jpg");
    background-size: 90%;
    background-position: center ;

}

.background-noteScreen {
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/6b/72/23/6b7223d0def9fb19401c5758808f4178.jpg");
    background-size: 100%;
}

.background-appBar {
    background-image: url("https://image.shutterstock.com/image-photo/black-white-grunge-background-old-260nw-1609968685.jpg");
    background-size: 50%;
}

.transparent {
    background:transparent;
    position:relative;
}

.background-sidebar {
    min-height: 50vh;
    background-image: url("https://previews.123rf.com/images/soleg/soleg1802/soleg180200139/95974914-black-forged-iron-door-for-texture-or-background-ancient-architecture-of-castle-gate-backdrop.jpg?fj=1");
    background-size: cover;
    background-position: center ;
    background-size: 108%;
}